<?xml version="1.0" encoding="UTF-8" ?>
<!--Nyx Settings file-->
<settings>
  <nicks>Nyx Nyx_ Nyx__</nicks>
  <username>Nyx</username>
  <realname>Nyx IRC Client</realname>
  <!--<proxy address="" port="" />-->
  <theme name="Default Theme" path="/themes/default.xml"/>

  <chatColors>
    <color name="server" red="0" green="0" blue="0" />
    <color name="motd" red="70" green="70" blue="70" />
    <color name="nick" red="50" green="150" blue="255" />
    <color name="time" red="124" green="124" blue="124" />
    <color name="part" red="0" green="6" blue="119" />
    <color name="join" red="0" green="184" blue="22" />
    <color name="highlight" red="255" green="0" blue="0" />
    <color name="error" red="255" green="0" blue="0" />
  </chatColors>
  <treeviewColors>
    <color name="normal" red="0" green="0" blue="0" />
    <color name="highlight" red="255" green="0" blue="0" />
    <color name="talk" red="0" green="128" blue="255" />
    <color name="status" red="0" green="200" blue="255" />
  </treeviewColors>
  <servers>
    <server name="MDSNet" autoconnect="false">
      <!--<address port="6667" ssl="false">localhost</address>-->
      
      <address port="6669" ssl="false">dom96.dynalias.com</address>
      <address port="6669" ssl="false" pass="awesomeness">programble.dynalias.com</address>
    </server>
    <server name="ArcherSeven" autoconnect="true">
      <address port="6669" ssl="false">irc.archerseven.com</address>
      <address port="6667" ssl="false">ikey.dynalias.com</address>
    </server>
    <server name="SpotChat" autoconnect="false">
      <address port="6667" ssl="false">irc.spotchat.org</address>
    </server>
    <server name="Freenode" autoconnect="false">
      <address port="9002" ssl="false">testnet.freenode.net</address>
    </server>
    <server name="EFNet" autoconnect="false">
      <address port="6667" ssl="false">irc.efnet.ch</address>
    </server>
    <server name="Wikipedia" autoconnect="false">
      <address port="6667" ssl="false">irc.wikimedia.org</address>
    </server>

  </servers>
</settings>
